.poup__container {
  position: relative;
  margin: 195px auto;
  max-width: 430px;
  width: calc(100% - 38px);
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .poup__container {
    padding: 25px 22px;
    margin: 123px auto;
  }
  
}